# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\henri\Documents\GitHub\prosjektoppgaveTDT4145\prosjektoppgaveTDT4145\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
